{% extends "layoutAdmin.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
	{% if legend == "Add Workers" %}
            <div class="form-group">
                {{ form.id.label(class="form-control-label") }}
                {% if form.id.errors %}
                    {{ form.id(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.id.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.id(class="form-control form-control-lg") }}
                {% endif %}
            </div>
	{% endif %}

			
		<div class="form-group">
                {{ form.firstname.label(class="form-control-label") }}
                {% if form.firstname.errors %}
                    {{ form.firstname(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.firstname.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.firstname(class="form-control form-control-lg") }}
                {% endif %}
            </div>

		<div class="form-group">
                {{ form.middlename.label(class="form-control-label") }}
                {% if form.middlename.errors %}
                    {{ form.middlename(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.middlename.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.middlename(class="form-control form-control-lg") }}
                {% endif %}
            </div>
		
		<div class="form-group">
                {{ form.lastname.label(class="form-control-label") }}
                {% if form.lastname.errors %}
                    {{ form.lastname(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.lastname.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.lastname(class="form-control form-control-lg") }}
                {% endif %}
            </div>
	
		<div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>

		
<div class="form-group">
                {{ form.personType.label(class="form-control-label") }}
                {% if form.personType.errors %}
                    {{ form.personType(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.personType.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.personType(class="form-control form-control-lg") }}
                {% endif %}
            </div>



		<div class="form-group">
                {{ form.hired.label(class="form-control-label") }}
                {% if form.hired.errors %}
                    {{ form.hired(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.hired.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.hired(class="form-control form-control-lg") }}
                {% endif %}
            </div>
		
		<div class="form-group">
                {{ form.phoneNumber.label(class="form-control-label") }}
                {% if form.phoneNumber.errors %}
                    {{ form.phoneNumber(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.phoneNumber.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.phoneNumber(class="form-control form-control-lg") }}
                {% endif %}
            </div>

		<div class="form-group">
                {{ form.address.label(class="form-control-label") }}
                {% if form.address.errors %}
                    {{ form.address(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.address.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.address(class="form-control form-control-lg") }}
                {% endif %}
            </div>
		
		<div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
		
		<div class="form-group">
                {{ form.instrument.label(class="form-control-label") }}
                {% if form.instrument.errors %}
                    {{ form.instrument(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.instrument.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.instrument(class="form-control form-control-lg") }}
                {% endif %}
            </div>	
            
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}