{% extends "layoutAdmin.html" %}
{% block content %}

  <article class="media content-section">
<!--    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/default.jpg')}}"> -->
    <div class="media-body">
      <div class="article-metadata">
   	<h2 class="mr-2" >{{ worker.FirstName }} {{worker.LastName}}</h2>

        <small class="text-muted">{{now.strftime('%A %B, %d %Y %H:%M:%S')}}</small>
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_worker', id=worker.PersonID) }}">Update</a>
	{% if a != b %}
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
       {% endif %}
          </div>
      </div>
    </div>
  </article>

  <!-- Modal -->
{% if a != b %}
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Department?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_worker', id=worker.PersonID) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endif %}

	  {% for key, value in mydata.items() %}
	<article class="media content-section">
              <div class="media-body"> 
                <div class="article-metadata">
                  <h3 class="mr-2" >{{key}}</h3>
 		 
                </div class="article-metadata">
                <div>     
       
    	  {% for role in value %}
 		 <h5 class="mr-2" >{{role .PerformanceDate}} {{role .PerformanceTime}}</h5>
   		 <a class="mr-2" href="{{ url_for('rolePage', id=role.PersonID, roleid = role.RoleID)}}">{{ role.RoleName }} : {{ role.FirstName }} {{ role.LastName }}</a> 
          
		</br>
          {% endfor %}

          </article>
     {% endfor %}
	  



{% endblock content %}

  {% for role in join %}

        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('rolePage', id=role.PersonID, roleid = role.RoleID)}}">{{ role.RoleName }} : {{ role.FirstName }} {{ role.LastName }}</a> 
		  <small class="text-muted">{{ role.PersonID }} {{role }}  {{ role.PerformanceID }}</small>
            </div>    

        </article>
 {% endfor %}

                <small class="text-muted">{{item.PerformanceDate}} {{item.PerformanceTime}} : {{ item.RoleName }} </small> 




















































  </div>
  </article>

