{% extends "layoutAdmin.html" %}
{% block content %}

  <article class="media content-section">
<!--    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/default.jpg')}}"> -->
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ worker.id }}</a>
        <small class="text-muted">{{now.strftime('%A %B, %d %Y %H:%M:%S')}}</small>
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_worker', id=worker.id) }}">Update</a>
	{% if a != b %}
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
       {% endif %}
          </div>
      </div>
    </div>
  </article>

  <!-- Modal -->
{% if a != b %}
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Department?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_worker', id=worker.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endif %}

  {% for row in join %}

        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ row }}</a> <br/>
              <small class="text-muted">{{ row.PersonID }} {{row }}  {{ row.PerformanceID }}</small>
            </div>    
	<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_role', id=row.PersonID, roleid=row.RoleID) }}">Update</a>

            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModalg">Delete</button>

<div class="modal fade" id="deleteModalg" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Role?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_role', id=row.PersonID, roleid= row.RoleID) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
    

        </article>
 {% endfor %}
	  



{% endblock content %}
